name: Interpreter build and test

on:
  push:
    branches: [master]

jobs:
  build-java:
    name: Build and test Java (sof-language)
    runs-on: ubuntu-latest
    steps:
      - uses: https://github.com/actions/checkout@v4
      - name: Set up JDK 21
        uses: https://github.com/actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "gradle"
      - name: Setup Gradle
        uses: https://github.com/gradle/actions/setup-gradle@v4
      - name: Validate Gradle wrapper
        uses: https://github.com/gradle/actions/wrapper-validation@v3
      - name: Build
        run: ./gradlew build
      - name: Test and generate coverage information
        run: ./gradlew coverage
      - name: Upload coverage information to codecov
        uses: https://github.com/codecov/codecov-action@v5
        with:
          files: build/jcc-report/test/jacocoTestReport.xml
          name: sof-coverage-upload
          fail_ci_if_error: false
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  build-rust:
    name: Build and test Rust (sof-rs)
    runs-on: ubuntu-latest
    steps:
      - uses: https://github.com/actions/checkout@v4
      - name: Install Rust
        id: toolchain
        uses: https://github.com/dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - uses: https://github.com/actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: build-${{ runner.os }}-${{ steps.toolchain.outputs.cachekey }}
      - name: Install nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Build
        working-directory: sof-rs
        run: cargo build --verbose --bins --tests
      - name: Run tests
        working-directory: sof-rs
        run: cargo nextest run --verbose
