name: Deploy documentation

on:
  push:
    branches: [ master ]

env:
  MDBOOK_VERSION: 0.5.1

jobs:
  deploy:
    name: Deploy with mdbook and GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: https://github.com/actions/checkout@v2
        name: Checkout repo
      - uses: https://github.com/actions-rs/toolchain@v1
        name: Install toolchain
        id: toolchain
        with:
          toolchain: stable
      - name: Install mdbook
        run: |
          mkdir mdbook
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v${MDBOOK_VERSION}/mdbook-v${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
          echo `pwd`/mdbook >> $GITHUB_PATH
      - uses: https://github.com/actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: docs-${{ runner.os }}-${{ steps.toolchain.outputs.cachekey }}
      - name: Install mdbook-spec
        run: cargo install --force --git 'https://github.com/rust-lang/reference' mdbook-spec
      - name: Build documentation
        run: cd docs && mdbook build
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages-docs
          folder: docs/book